<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
</head>
<body>
<div ng-controller="itemController">
  <label>Sort:
    <input type="checkbox" id="filter" ng-model="item" ng-change="check()">
  </label>
  <ul>
    <li ng-repeat="item in items | orderBy:sortparam">
      <p>Имя: {{item.name}}</p>
      <!--<p>Свойства: {{item.flags[0]}}</p>-->
      <!--<p ng-bind="item.flags[0]"></p>-->
      <!--<p ng-bind="item.flags[1]"></p>-->
      <!--<p ng-bind="item.flags[2]"></p>-->
      <!--<p ng-bind="item.flags[3]"></p>-->
    </li>
  </ul>
</div>
<!--<div ng-controller="itemController">-->
  <!--<p style="color: red">Название: {{item.name}}</p>-->
  <!--<div ng-controller="itemController">-->
    <!--<p>Название: {{item.name}}</p>-->
    <!--<p>Цена: {{item.flags[2]}}</p>-->
  <!--</div>-->
<!--</div>-->
<script src="js/lib/angular.min.js"></script>
<script type="text/javascript">
  angular.module('myApp', []);
</script>
<script src="js/controllers/itemController.js">
</script>
</body>
</html>

<!--<!doctype html>-->
<!--<html ng-app='myApp'>-->
<!--<head>-->
  <!--<meta charset="utf-8">-->
  <!--<link rel="stylesheet" href="css/style.css" />-->
<!--</head>-->
<!--<body>-->
<!--<div  ng-controller="QuestionController">-->
  <!--<div class="quest" ng-class="questColorClass"-->
       <!--ng-mouseenter="changeClass($event)"-->
       <!--ng-mouseleave="changeClass($event)">-->
    <!--<h3>{{question.text}}</h3>-->
    <!--<p>{{question.author}} </p> <p><i>{{question.date}}</i></p>-->
  <!--</div>-->
  <!--<h3>Ответы</h3>-->
  <!--<div class="answers">-->
    <!--<div ng-repeat="answer in question.answers" class="answer">-->
      <!--<div class="vote">-->
        <!--<a class="vote-up" ng-click="voteUp(answer)"></a>-->
        <!--<span class="rate">{{answer.rate}}</span>-->
        <!--<a class="vote-down" ng-click="voteDown(answer)"></a>-->
      <!--</div>-->
      <!--<b>{{answer.text}}</b>-->
      <!--<p>{{answer.author}}</p>-->
      <!--<p><i>{{answer.date}}</i></p>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<script src="js/lib/angular.min.js"></script>-->
<!--<script type="text/javascript">-->
  <!--var myApp = angular.module('myApp', []);-->
<!--</script>-->
<!--<script src="js/controllers/QuestionController.js"></script>-->
<!--</body>-->
<!--</html>-->